body { 
  background: url(http://f.ptcdn.info/016/029/000/1425478941-seakrabi2-o.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title{
  color: white;
  background-color: rgba(42, 192, 42, 0.658);

}

span{visibility: hidden;}